## EDA :Explorative data analysis :


Fill this note wehere you see `your code here`

In [1]:
import pandas as pd

In [3]:
# Read a comma-separated values (csv) file into DataFrame using `read_csv` method
filepath = "../datastores/raw_csv_data/census.csv"

df = pd.read_csv(filepath)

In [9]:
## Return the first n rows using `head` method
# your code here
print(df.head())

   age          workclass   fnlgt   education   education-num  \
0   39          State-gov   77516   Bachelors              13
1   50   Self-emp-not-inc   83311   Bachelors              13
2   38            Private  215646     HS-grad               9
3   53            Private  234721        11th               7
4   28            Private  338409   Bachelors              13

        marital-status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

    capital-gain   capital-loss   hours-per-week  native-country  salary
0           2174              0               40   United-States   <=50K
1              0              0               13   United-States   <=50K
2              0              0               40   United-States   <=50K
3              0              0               40   United-States   <=50K
4              0              0               40            Cuba   <=50K

In [ ]:
"""
 _______       _            _     _          ______        _                 _ 
(_______)     (_)       _  (_)   | |        (____  \      (_)               | |
 _______  ____ _  ___ _| |_ _  __| |_____    ____)  ) ____ _ _____ ____   __| |
|  ___  |/ ___) |/___|_   _) |/ _  | ___ |  |  __  ( / ___) (____ |  _ \ / _  |
| |   | | |   | |___ | | |_| ( (_| | ____|  | |__)  ) |   | / ___ | | | ( (_| |
|_|   |_|_|   |_(___/   \__)_|\____|_____)  |______/|_|   |_\_____|_| |_|\____|
    
Auteur: (.pro@gmail.com) 
eda.ipynb(Ɔ) 2025
Description : 
Créé le :  mercredi 12 novembre 2025 à 17:28:24 
Dernière modification : 
"""

In [11]:
# Returns the last n rows using `tail` method
# your code here
print(df.tail())

       age      workclass   fnlgt    education   education-num  \
32556   27        Private  257302   Assoc-acdm              12
32557   40        Private  154374      HS-grad               9
32558   58        Private  151910      HS-grad               9
32559   22        Private  201490      HS-grad               9
32560   52   Self-emp-inc  287927      HS-grad               9

            marital-status          occupation  relationship    race      sex  \
32556   Married-civ-spouse        Tech-support          Wife   White   Female
32557   Married-civ-spouse   Machine-op-inspct       Husband   White     Male
32558              Widowed        Adm-clerical     Unmarried   White   Female
32559        Never-married        Adm-clerical     Own-child   White     Male
32560   Married-civ-spouse     Exec-managerial          Wife   White   Female

        capital-gain   capital-loss   hours-per-week  native-country  salary
32556              0              0               38   United-States   <=50K
32557              0              0               40   United-States    >50K
32558              0              0               40   United-States   <=50K
32559              0              0               20   United-States   <=50K
32560          15024              0               40   United-States    >50K

In [13]:
# Print a concise summary of a DataFrame using ìnfo` method
## your code here
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlgt           32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [15]:
# Retrun the column labels of the DataFrame using `columns` method
## your code here
print(df.columns)

Index(['age', ' workclass', ' fnlgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' salary'],
      dtype='object')

In [18]:
#  removes any leading or trailing whitespace from all column names in the DataFrame 
df.columns = df.columns.str.strip()
print(df.columns)

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [ ]:
# check the updated column names
# your code here

In [ ]:
# Return number of duplicate rows using `duplicated` and `sum` method
## your code here

np.int64(24)

In [ ]:
# Return DataFrame with duplicate rows removed using `drop_duplicates` method
## your code here

In [ ]:
# Return DataFrame with duplicate rows removed
## your code here

In [ ]:
# Detect missing values : return number missing for each column in dataframe
# by using ìsna` and `sum` method
## your code here

In [16]:
df.columns = df.columns.str.strip()
df.columns.values.tolist()

['age',
 'workclass',
 'fnlgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'salary']

In [17]:
df.columns.tolist()

['age',
 'workclass',
 'fnlgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'salary']